*.so
*.log
*.swp
*.f

Divers/
env_pyticles/

Inputs/3d_continuous_forward.py
Inputs/__pycache__/
Inputs/ic_jc.npy
Inputs/nan_particles.py
Inputs/test_backward_2D.py
Inputs/test_forward_2d.py

Modules/Python_Modules_examples/
Modules/__pycache__/
Modules/Make_tools
Modules/R_files_xios.py

Postprocessing/Vic_routines/

output_case1
requiremens.txt

