*.so
*.log
*.swp

env_pyticles/

Inputs/3d_continuous_forward.py
Inputs/__pycache__/
Inputs/ic_jc.npy
Inputs/nan_particles.py
Inputs/test_backward_2D.py
Inputs/test_forward_2d.py

Modules/Python_Modules_examples/
Modules/R_tools.py
Modules/__pycache__/
Modules/pyticles_3d_sig_sa.f
Modules/Make_tools
Modules/R_files_xios.py
Modules/R_smooth.py
Modules/R_tools_fort.F
Modules/R_tools_fort_lu/*
Modules/R_vars.py

Postprocessing/Vic_routines/

output_case1
requiremens.txt

